    <div id="divAnel">
        <table>
            <tr>
                <th class="imgdiv">Imagens</th>
                <th>Aneis</th>
                <th>Grama</th>
                <th>Codigo</th>
                <th>Quilates</th>
                <th>Tipo de pedra</th>
            </tr>
            {{#each estoqueanel}}
        <tr>
            <td><img src="/images/{{imagem}}"></td>
            <td>{{nome}}</td>
            <td>{{grama}}</td>
            <td>{{codigo}}</td>
            <td>{{quilates}}</td>
            <td>{{tipo}}<div class="divRem"><a href="/deletar/{{id}}"><button>Remover</button></a></div></td>
        </tr>
        {{/each}}
        </table>
    </div>
 
    


